{% extends 'base.html' %}




 {% block content %}
 

<div id="cover">
 	<!-- https://stackoverflow.com/questions/49381291/bootstrap-4-searchbar-absolute-center-and-make-it-responsive -->
	<form method="POST" action="{% url 'movieslist' %}">
	    <div class="row align-items-center" style="min-height: calc(100vh - 66px);">
	        <div class="col-lg-6 mx-auto">
	            <div class="input-group">
      					{% csrf_token %}
	                	<input type="text" class="form-control" placeholder="Search for a movie" name="movie">

	            </div>
	        </div>
	    </div>
	</form>
	    <footer class="footer fixed-bottom text-center">
	        <span class="text">Place sticky footer content here.</span>
	    </footer>
</div>

 {% endblock %}
