{% extends 'base.html' %}


 {% block content %}

 <div class="contain">
 	 <br><br>
<div class="container">
	<div class="card-group">
	<div class="row">
	{% for x in api.Search %}
	<div class="col-sm">
	  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
	  	<img src="{{ x.Poster }}" class="card-img-top" alt="">
	  	<div class="card-body">
	    	<h5 class="card-title">{{ x.Title }}</h5>
	    	<p class="card-text"> {{ x.Year }} </p>
	    	<a href="{% url 'moviedetails' x.imdbID %}" class="btn btn-success">Read More...</a>
	    </div>
	  </div>
	  <br>
	  </div>
	 {% endfor %}
	
	</div>
</div>
</div>

</div>


<!--  {{ movie }}

 {{ api }}
 <h1>HElllo DONE!</h1>
 {% endblock %}
 -->